<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
  
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <img src="bioPic7.jpg" alt="Joshua Boone" style="width:50px;height:75px;">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Joshua Boone</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="GitHub.html">Coding Projects</a>
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <img src="kearsarge.jpg" alt="Mount Kearsarge" style="width:1000px;height:200px;">
      <h1 class="display-4 fw-normal">About Me</h1>
      <p class="fs-5 text-muted">Thanks for visiting my webpage!  My name is Joshua Boone and I'm from New Hampshire.  I recently became interested in coding and wanted to learn more about the subject so I enrolled in a course through MIT xPRO.  Click on "Coding Projects" at the top of the page to visit my GitHub page.  There you will see several coding projects I worked on during the course.  My GitHub user name is <b>joshuapboone</b>  You can contact me by emailing me at <b>joshuapboone@gmail.com</b></p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Intro Video</h4>
          </div>
          <div class="card-body">
            <img src="youtube.png" alt="YouTube Introduction" style="width:100px;height:100px;">
            <a class="btn btn-primary" href="https://youtu.be/1FLypJmQ1GA" role="button">Watch My Video</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Linkedin</h4>
          </div>
          <div class="card-body">
            <img src="linkedin.png" alt="Linkedin Profile" style="width:100px;height:100px;">
            <a class="btn btn-primary" href="https://www.linkedin.com/in/joshua-boone-924715126" role="button">My Profile</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">GitHub</h4>
          </div>
          <div class="card-body">
            <img src="github.png" alt="Linkedin Profile" style="width:100px;height:100px;">
            <a class="btn btn-primary" href="https://github.com/joshuapboone" role="button">My Profile</a>
          </div>
        </div>
      </div>
    </div>